.resetWrapper{
    display: flex;
    justify-content: center;
}

.resetCard{
    width: 27vw;
    margin-top: 4%;
}
@media only screen and (max-width:750px) {
    .resetCard{
        width: 50vw;
    }
}
@media only screen and (max-width:450px) {
    .resetCard{
        width: 100vw;
    }
}